{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block header %}
    {{ parent() }}
    <div class="ui basic intro segment">
        <h1 style="font-size: 48px; color: #fff;">Instagram Online</h1>
        <p style="font-size: 20px; color: #FFC3AA;">Instagram contents is on the Web at the end of your fingertips</p>
        <p class="disclaimer"></p>
        <div class="ui search">
            <form id="intro__search" action="/search" method="GET">
                <div class="ui icon input">
                    <input type="text" name="q" placeholder="Username of hashtag">
                    <i class="search link icon"></i>
                </div>
            </form>
        </div>
    </div>
{% endblock %}